.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FEA700;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
    cursor: pointer;
    color: #222222;
    border: 0px;
}

.button__icon {
    height: 20px;
}