.header {
    color: #FFF;
    background: #222222;
}

.header__wrapper {
    display: flex;
    align-items: center;
    height: 50px;
}

.header__title {
    margin: 0px;
    font-size: 24px;
    font-weight: normal;
    white-space: nowrap;
    font-family: 'Bungee Inline', cursive;
}

.header__logo {
    height: 35px;
    width: 40px;
    margin-right: 8px;
    fill: #FFF;
    flex-shrink: 0;
    flex-grow: 0;
}

.header__separator {
    display: block;
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

.header__login-btn {
    color: #FFF;
    border: none;
    background-color: transparent;
    font-size: 16px;
    text-decoration: underline;
    padding: 0px;
    cursor: pointer;
}