.footer {
    border-top: solid thin #CCC;
    margin-top: 16px;
    padding: 16px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 4px;
}

.footer__content > * {
    margin-right: 4px;
    margin-left: 4px;
}

.footer__title {
    font-family: 'Bungee Inline', cursive;
    font-size: 24px;
    line-height: 30px;
}

.footer__icon {
    display: inline;
    height: 30px;
    margin-right: 8px;
}

.footer__link {
    color: #FEA700;
}